.title {
    color: red;
}

p {
    color: green;
    border: 5px solid blue;
}

img {
    max-width: 100px;
}

.hello {
    font-size: 54px;
    color: brown;
    font-weight: bold;
    border: 10px solid;
    padding: 5px;
}
